
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.10.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>

    <link href="~/Content/jquery.fancybox-buttons.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox-buttons.js"></script>

    <script src="~/Scripts/jquery.fancybox-thumbs.js"></script>
    <link href="~/Content/jquery.fancybox-thumbs.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox-media.js"></script>

    <script>
        $(document).ready(function () {
            /*
			 *  Simple image gallery. Uses default settings
			 */

            $('.fancybox').fancybox({
                helpers: {
                    thumbs: {
                        width: 50,
                        height: 50,
                        source: function (current) {
                            console.log($(current.element).data('thumbnail'));
                            return $(current.element).data('thumbnail');
                        }
                    }
                }
            });

            /*
			 *  Different effects
			 */

            // Change title type, overlay closing speed
            $(".fancybox-effects-a").fancybox({
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    overlay: {
                        speedOut: 0
                    }
                }
            });

            /*
			 *  Open manually
			 */

            $("#fancybox-manual-c").click(function () {
                $.fancybox.open([
					{
					    href: '/Content/Photo/1_b.jpg',
					    title: 'My title'
					}, {
					    href: '/Content/Photo/2_b.jpg',
					    title: '2nd title'
					}, {
					    href: '/Content/Photo/3_b.jpg'
					}
                ], {
                    helpers: {
                        thumbs: {
                            width: 75,
                            height: 50
                        }
                    }
                });
            });


        });

    </script>
</head>
<body>
    <p>
        <a class="fancybox" data-thumbnail="/Content/Photo/1_b.jpg" href="/Content/Photo/1_b.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="/Content/Photo/1_s.jpg" alt="" /></a>

        <a class="fancybox" data-thumbnail="/Content/Photo/2_b.jpg" href="/Content/Photo/2_b.jpg" data-fancybox-group="gallery" title="Etiam quis mi eu elit temp"><img src="/Content/Photo/2_s.jpg" alt="" /></a>

        <a class="fancybox" data-thumbnail="/Content/Photo/3_b.jpg" href="/Content/Photo/3_b.jpg" data-fancybox-group="gallery" title="Cras neque mi, semper leon"><img src="/Content/Photo/3_s.jpg" alt="" /></a>

        <a class="fancybox" data-thumbnail="/Content/Photo/4_b.jpg" href="/Content/Photo/4_b.jpg" data-fancybox-group="gallery" title="Sed vel sapien vel sem uno"><img src="/Content/Photo/4_s.jpg" alt="" /></a>
    </p>

    <a class="fancybox-manual-c">Open gallery</a>
    <ul>
        <li><a id="fancybox-manual-a" href="javascript:;">Open single item</a></li>
        <li><a id="fancybox-manual-b" href="javascript:;">Open single item, custom options</a></li>
        <li><a class="fancybox-manual-c" href="javascript:;">Open gallery</a></li>
    </ul>
</body>
</html>
